@model M151_WebShop.Data.Models.Articles

@using (Html.BeginForm("CreateArticle", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    // TextBox with Label
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Name: ")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "required" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price, "Price: ")
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @type = "number", min = "0"})
    </div>
    // Drop Down with Label
    <div class="form-group">
        @Html.LabelFor(m => m.Genre, "Genre: ")
        @Html.EnumDropDownListFor(m => m.Genre)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genre, "Condition: ")
        @Html.EnumDropDownListFor(m => m.Condition)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genre, "USK: ")
        @Html.EnumDropDownListFor(m => m.USK)
    </div>
    <input type="submit" class="btn btn-primary inline" value="submit" />
}